* {
    box-sizing : border-box;
}

body {
    color : #030303;
    background-color : #fefefe;
}

header {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #2148b3;
    padding: 60px;
}

header h1 {
    text-align: center;
    display: block;
    color: #fff;

}

header p {
    color: #fff;
    text-align: center0;
    font-size: 1.5em;
    font-family: "Pinyon Script", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

nav#main_menu {
    display: block;
    background-color: #464e66;
    margin:0;
}

nav ul {
    display: flex;
    padding: 4px;
    list-style-type: none;
}

nav ul li a {
    display: inline-block;
    text-decoration: none;
    padding: 14px 20px;
    margin: 0;
    color: #fff;
}

#row {
    display: flex;
    flex-wrap: wrap;
}

aside#about_me {
    width: 25%;
    padding: 10px;
    background-color: rgb(155, 195, 255);
}

aside#main_section {
    width: 75%;
    padding: 20px;
    background-color: #fff;
}

footer {
    padding: 20px;
    text-align: center;
    background-color: #d3e6ff;
}
