* {
    box-sizing : border-box;
}

body {
    color : #030303;
    background-color : #fefefe;
}

header {
    width: 100%;
    text-align: center;
    padding: 10px;
    margin: 0;
    vackground-color: #656756;
}

header h1 {
    text-align: center;
    display: block;

}