* {
    box-sizing : border-box;
}

body {
    color : #030303;
    background-color : #fefefe;
}

header {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #2148b3;
}

header h1 {
    text-align: center;
    display: block;
    color: #fff;

}

header p {
    color: #fff;
    text-align: center0;
    font-size: 1.5em;
    font-family: "Pinyon Script", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

header nav {
    display: block;
    background-color: #464e66;
    height: 100px;
}

nav ul {
    display: flex;
    padding: 4px;
    list-style-type: none;
}

nav ul li a {
    display: inline-block;
    text-decoration: none;
    padding: 4px 6px;
    margin: 0;
    color: #fff;
}

aside#about_me {
    width: 25%;

}
