* {
    box-sizing : border-box;
}

body {
    color : #030303;
    background-color : #fefefe;
}

header {
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
    background-color: #2148b3;
}

header h1 {
    text-align: center;
    display: block;
    color: #fff;

}

header p {
    color: #fff;
    font-size: 1.2em;
    font-family: "Pinyon Script", cursive;
    font-weight: 400;
    font-style: normal;
}

header nav {
    display: block;
}

nav ul {
    display: block;
    background-color: #464e66;
}

nav ul li {
    display: inline-block;
    text-decoration: none;
    padding: 4px;
    color: #fff;
}