* {
    box-sizing : border-box;
}

body {
    color : #030303;
    background-color : #df3535;
}

header {
    width: 100%;
    text-align: center;
    padding: 10px;
    margin: 0;
    background-color: #3c6ef8;
}

header h1 {
    text-align: center;
    display: block;
    color: #fff;

}