* {
    box-sizing : border-box;
}

body {
    color : #030303;
    background-color : #fefefe;
}

header {
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
    background-color: #2148b3;
}

header h1 {
    text-align: center;
    display: block;
    color: #fff;

}