* {
    box-sizing : border-box;
}

body {
    color : #030303;
    background-color : #fefefe;
}

header {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #2148b3;
    padding: 60px;
}

header h1 {
    text-align: center;
    display: block;
    color: #fff;

}

header p {
    color: #fff;
    text-align: center0;
    font-size: 1.5em;
    font-family: "Pinyon Script", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

nav#main_menu {
    display: block;
    background-color: #464e66;
    margin:0;
}

nav ul {
    display: flex;
    padding: 4px;
    list-style-type: none;
    margin: 0;
}

nav ul li a {
    display: inline-block;
    text-decoration: none;
    padding: 14px 20px;
    margin: 0;
    color: #fff;
}

#row {
    display: flex;
    flex-wrap: wrap;
}

aside#about_me {
    width: 25%;
    padding: 10px;
    background-color: #d3e6ff;
}

#main_section {
    width: 75%;
    padding: 20px;
    background-color: #fff;
}
 
.fakeImg {
    background-color: #f3ebeb;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
    padding: 16px 24px;
    font-weight: 500;
    margin-bottom: 15px;
}

footer {
    padding: 20px;
    text-align: center;
    background-color: rgb(155, 195, 255);
}  


@media screen and (max-width : 600px) {
    #row, nav#main_menu {
        flex-direction: column;
    }

    aside, #main_section {
        width: 100%;
    }
}