:root {
  --white : #fff;
  --blue : #4e73df;

}


.red-rose-font {
font-family: "Red Rose", serif;
font-optical-sizing: auto;
font-weight: 400;
font-style: normal;
}

* {
  box-sizing: border-box;
  font-size: 18px;
  background-color: var(--white);
  color : #000;
}

.col-1 {width: 8.33%}
.col-2 {width: 16.66%}
.col-3 {width: 25%}
.col-4 {width: 33.33%}
.col-5 {width: 41.66%}
.col-6 {width: 50%}
.col-7 {width: 58.33%}
.col-8 {width: 66.66%}
.col-9 {width: 75%}
.col-10 {width: 83.33%}
.col-11 {width: 91.66%}
.col-12{width: 100%}

[class*='col-'] {
float: left;
padding: 14px;
}

.row {
display: table;
content: '';
clear: both;
width: 100%;
}

main {
display:flex;
width: 50%;
flex-direction: column;
}

a {
  text-decoration: none;
  text-align: center;     
}

h1 {
  color: var(--blue);
  /* background-image: linear-gradient(to right, var(--blue), rgba(78, 115, 223, .0)); */
  flex: 100%;
  padding: 2px;
  text-align: center;
}

.main-item {
  display: flex;
  flex: 100%;
  justify-content: center;
  padding: 5px;
  flex-wrap: wrap;
}

.item {
  position : relative;
  flex:100%;
  background-color: var(--blue);
  height: 180px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, .2), 0 6px 20px rgba(0, 0, 0, .19);
  margin: 15px;
  list-style-type: none;
  border-radius: 10px;
  max-width: 280px;
}

.item div {
display: inline-block;
position: absolute;
width: 100%;
bottom: 0px;
left: 0;
border-radius: 0 0 10px 10px;
}
.item a {
	position: absolute;
	height: inherit;
	top: 0px;
	left: 0;
	width: 100%;
	background-color: transparent;
	
}




