:root {
    --blue: #33b5e5;
    --green: #04AA6D;
    --white: #fff;
}

* {
    box-sizing: border-box;
}




#main-header {
    grid-area: header;
}

#main {
    grid-area: main;
}

#footer {
    grid-area: footer;
}

#main-nav {
    grid-area: main-nav;
}

#main-content {
    grid-area: main-content;
}

#about {
    grid-area: about;
}

/*For Mobiles Devices*/
#page {
    display: grid;
    grid-template-areas: "header" "main" "footer";
}


header {
    background-color: var(--green);
    width: 100%;
    display: block;
    padding: 15px;
}

header h1 {
    font-weight: bold;
    /* font-size: 2em; */
    font-family: Helvetica, sans-serif;
    color: var(--white);

}



#main-nav ul {
    display: block;
    margin: 0;
    padding: 0;
}

#main-nav ul li {
    list-style-type: none;
    background-color: var(--blue);
    color: var(--white);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    margin: 5px 0;
    padding: 7px 0px;
}

img, video {
    width: 100%;
    height: auto;
}

li a {

    color: var(--white);
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3em;
    font-weight: 200;
    padding-left: 5px;
}

li:hover {
    background-color: #0099cc;
}

#about {
    background-color: var(--blue);
    text-align: center;
    box-shadow: 0 2px 1px rgba(0, 0, 0, .15), 0 1px 3px rgba(0, 0, 0, .30);
}

#about p,
#about h3 {
    color: var(--white);
    padding: 4px;
}


footer {
    background-color: var(--green);
    text-align: center;
    padding: 15px;
    color: var(--white);
    font-weight: bold;
}


/*For Tablets Devices*/
@media only screen and (min-width : 601px) {
    #main {
        display: grid;
        grid-template-areas: 'main-nav' 'main-content main-content main-content' 'about about';
    }
}

/*For Desktop*/
@media only screen and (min-width : 992px) {
   #main {
    display: grid;
    grid-template-areas: 'main-nav' 'main-content main-content main-content main-content main-content';
   }
}